{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block title %}АІС туристичного клубу{% endblock %}

{% block content %}
    <p>
        Туристи, що приходять в туристичний клуб, можуть не тільки ходити в планові походи, але і займатися в різних
        секціях протягом усього року. Для цього вони записуються в групи, пов'язані з певним секціям.</p>
    <p>
        Туристів можна умовно розділити на любителів, спортсменів і тpенеpів. Кожна з перерахованих категорій може мати
        свій набір характеристик-атрибутів. Секції клубу очолюються керівниками, у функції яких входить контроль
        за роботою секції. В роботі секції беруть участь тренери, адміністративно відносяться до однієї із секцій.
        Керівник секції призначає кожній групі тренера. Тренер може тренувати декілька груп, причому вони необов'язково
        належать його секції. Спортсмени та тpенеpи можуть брати участь у різних змаганнях.</p>
    <p>Щороку складається розклад роботи секцій. У ньому вказується, які будуть проводитися тренування і в яких
        секціях: їх кількість, місце, час тощо. Відповідно з цим керівники секцій здійснюють розподіл навантаження для
        тренерів (з урахуванням їх спеціальності). Відомості про проведені тренування і відвідуваність тренувань
        збираються керівниками.</p>
    <p>
        Протягом року клуб організовує різні походи. Кожен похід має свій маршрут, на який відводиться певна кількість
        днів.
        По маршруту і кількості днів визначається категорія складності цього походу. Похід очолює інстpуктоp, яким може
        бути будь-який тpенеp або спортсмен. Він набирає групу в кількості 5-15 чоловік для свого походу, виходячи з
        типу
        походу (піший, кінний, водний, гірський) та фізичних даних туристів (за їх занять у секціях: водники,
        спелеологи,
        альпіністи тощо, з урахуванням специфіки занять. Якщо не вміє плавати, тоді його ніколи не візьмуть на сплав, а
        в піший похід невеликої категорії складності можуть взяти будь-якого туриста). Інстpуктоp може водити в походи
        даної категорії складності, якщо він сам її раніше вже пройшов.
    </p>
    <p>
        Походи можуть бути плановими і неплановими. Для кожного планового походу існує точний план в якому вказується
        маршрут, розклад привалів і стоянок на кожен день. Під час планового походу ведеться щоденник. Непланові походи
        мають тільки маршрут і повний час його проходження. Неплановий похід може бути переведений в категорію планових.
        Кожному туристу присвоюється категорія максимально складного з пройдених ним планових походів.
    </p>



{% endblock %}